.aside-menu {
  padding: 18px 18px 30px;
  width: 300px;
  background-color: #F5F5F5;
  flex-shrink: 0;

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    > a {
      color: #3188E4;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__submenu {
    padding-top: 13px;

    > li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      > a {
        color: #000;
        font-size: 14px;

      }
    }
  }
}