.main-menu {
  height: 140px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1020;

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1250px;
  }

  &__logo {
    margin-right: 10px;
  }

  &__burger-btn {
    display: none;
    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
      display: block;
    }
  }

  &__nav {
    margin-right: 10px;

    ul {
      display: flex;
      align-items: center;

      li {
        &:not(:last-child) {
          margin-right: 25px;
        }

        a {
          @include montserrat-medium;
          color: $black;
          font-size: 14px;
          font-weight: 500;
          transition: all .3s;
        }

        &:hover {
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__phone-select-hidden {
    position: absolute;
    bottom: -20px;
    left: 25px;
    display: none;
    color: #000000;
    font-size: 14px;
    @include montserrat-medium;
  }

  &__phone-select {
    margin-right: 5px;
    position: relative;

    &:hover {
      .main-menu__phone-select-hidden {
        display: block;
      }
    }
  }

  &__phone-select-main {
    display: flex;
    align-items: center;
    color: #004D9F;
    font-size: 14px;
    @include montserrat-bold;

    svg:first-child {
      margin-right: 7px;
    }

    svg:last-child {
      margin-left: 5px;
    }
  }

  &__mobile {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      display: none;
    }
  }


  &__book-link {
    display: inline-block;
    padding: 8px 28px;
    background-color: #fff;
    border: 1px solid #808995;
    color: #808995;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    @include montserrat-medium;
    transition: all .3s;

    @media (max-width: 1280px) {
      margin-left: auto;
    }

    &:hover {
      color: #ffffff;
      background-color: $main-blue;
    }
  }

}
