.about-hotel-page {
  .main-menu {
    border-bottom: none;
  }
  .breadcrumbs {
    margin-bottom: 28px;
  }

  .main {
    padding-top: 155px;
  }

  .section__title {
    text-align: left;
    margin-bottom: 38px;
  }

  .header {
    &__inner {
      position: relative;
      height: 500px;
      margin-top: 120px;
      background: url("../img/restaurant-bg.jpg") #fff 50% / cover no-repeat;
      @media (max-width: 870px) {
        margin-top: 104px;
      }
      @media (max-width: 768px) {
        height: 300px;
      }
    }
  }

  .about {

    padding-bottom: 80px;

    &__info-wrapper {
      display: flex;
      gap: 50px;
      @media (max-width: 1024px) {
        flex-direction: column;
      }
    }

    &__img {
      min-width: 450px;
      width: 450px;
      height: 225px;
      aspect-ratio: 2 / 1;
      @media (max-width: 768px) {
        width: 100%;
        min-width: 100%;
    }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__descs {
      max-width: 680px;
      @include montserrat-regular;
      font-size: 15px;
      line-height: 1.66;
      p {
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }



  }
  .cafe {
    padding: 91px 0 130px;
    background: #D6DCE3;
    background-size: cover;
    h2 {
      color: #000000;
      font-size: 38px;
      @include book-bold;
      margin-bottom: 35px;
    }

    &__gallery {
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
      grid-column-gap: 10px;
      grid-row-gap: 18px;
      justify-items: center;
      @media (max-width: 768px) {
        display: none;
      }
      a {
        display: inline-block;
        img {
          height: 100%;
          aspect-ratio: 16 / 9;
        }
      }
    }

  }
  .mobile-gallery {
    display: none;
    @media (max-width: 768px) {
      display: block;
      padding: 0 15px;
    }

    .rooms-swiper-container {
      @media (max-width: 1024px) {
        margin: 0 auto;
        padding: 0 15px;
      }
    }

    .rooms-swiper {
      .swiper-wrapper {
        margin-bottom: 15px;
      }

      .swiper-slide {
        a {
          display: block;
        }
      }

      .swiper-slide-active {
        img {
          height: 100%;
          aspect-ratio: 16 / 9;
          width: 100%;
        }
      }

      .swiper-slide-prev {
        position: relative;
        a {
          position: absolute;
          right: 0;
        }
      }

      .swiper-slide-prev, .swiper-slide-next {
        img {
          height: 100%;
          aspect-ratio: 16 / 9;
          width: 100%;
        }
      }


      &__controls {
        display: flex;
        justify-content: center;
        padding: 0 15px;
        margin: 0 auto;
        width: 100%;
        height: 50px;
        @media (max-width: 768px) {
          padding: 0;
          margin-top: 30px;
        }

        button:first-child {
          margin-right: 20px;
        }
      }

      &__img {
        position: relative;
        cursor: pointer;
      }
    }
  }
}
