.one-room-page {
  .main-menu {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  }

  .slider-section {
    background-color: #001227;

    .container {
      padding-bottom: 25px;
    }
  }

  ._bold {
    font-weight: 700;
  }

  .one-room {
    padding-bottom: 50px;

    .section__title {
      text-align: left;
      margin-right: 10px;
      margin-bottom: 15px;
    }

    .section__desc {
      max-width: 850px;
      margin-bottom: 25px;
      text-align: left;
    }

    .breadcrumbs {
      margin-bottom: 28px;
    }

    &__slider {
      margin-bottom: 28px;

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
          width: 100%;
          display: block;
          aspect-ratio: 2/1;
          object-fit: fill;
        }
      }
    }

    &__swiper2 {
      height: 610px;
      margin-bottom: 5px;
      .swiper-slide-active {
        max-width: 1220px;
        max-height: 610px;
      }
    }

    &__swiper {
      height: 70px;

      .swiper-slide {
        width: 140px!important;
        box-sizing: border-box;
        cursor: pointer;
        outline: 1px solid #515151;
        outline-offset: -1px;
      }

      .swiper-slide-thumb-active {
        outline: 2px solid #0D77E7;
        outline-offset: -2px;
      }
    }

    &__titles {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      flex-wrap: wrap;

      .blue-btn {
        width: max-content;
        margin-bottom: 15px;
      }
    }

    &__inside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 25px;
      margin-bottom: 62px;
    }

    &__item {
      width: 48%;

      h4 {
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 600;
        line-height: 25px
      }

      ul {
        margin-bottom: 15px;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
        }

        span {
          display: flex;
          align-items: center;
          margin-right: 10px;
          min-width: 25px;
        }
      }
    }

    &__items {
      display: flex;
      flex-direction: row;
      gap: 40px;
      @media (max-width:768px) {
        flex-direction: column;
      }
    }

    &__image {
      border: 1px solid #ADB9C7;
      img {
        height: 100%;
        width: 100%;
        display: block;
        aspect-ratio: 2/1;
        object-fit: fill;
      }
    }

    &__images {
      display: flex;
      flex-direction: row;
      gap: 40px;
      margin-bottom: 10px;
      @media (max-width:768px) {
        flex-direction: column;
      }
    }
  }

  .text-mark {
    font-size: 13px;
    line-height: 1.1;
    margin-bottom: 35px;
  }
}
