.restaurant-page {
  padding-top: 120px;
  max-width: 2400px;
  margin: 0 auto;
  background-color: #FFFFFF;
  @media (max-width: 870px) {
    padding-top: 104px;
  }

  main {
    padding-top: 30px;
  }

  .breadcrumbs {
    margin-bottom: 28px;
  }

  .section {
    &__row-title {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .blue-btn {
        width: 300px;
        margin-bottom: 20px;
      }
    }

    &__title {
      text-align: left;
      margin-right: 10px;
      margin-bottom: 20px;
    }

    &__desc {
      max-width: 840px;
      text-align: left;

      &:not(:last-of-type) {
        margin-bottom: 25px;
      }

      &:last-of-type {
        margin-bottom: 58px;
      }
    }
  }

  .header {
    &__inner {
      position: relative;
      height: 500px;
      background: url("../img/restaurant-bg.jpg") #fff 50% / cover no-repeat;
      @media (max-width: 3840px) {
        height: 600px;
        min-height: 600px;
      }
      @media (max-width: 2000px) {
        height: 500px;
        min-height: 500px;
      }
      @media (max-width: 1920px) {
        height: 480px;
        min-height: 480px;
      }
      @media (max-width: 1600px) {
        height: 400px;
        min-height: 400px;
      }
      @media (max-width: 768px) {
        height: 300px;
      }
    }
  }

  .services {
    padding-bottom: 50px;

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 44px;
      @media (max-width: 768px) {
       flex-direction: column;
        align-items: center;
      }

      li {
        width: 292px;
        margin-bottom: 20px;
        flex-shrink: 0;

        &:not(:last-child) {
          margin-right: 5px;
          @media (max-width: 768px) {
            margin-right: 0;
          }
        }
      }

      p {
        margin-left: 55px;
        line-height: 1.1;
      }
    }

    &__list-title {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      svg {
        width: 35px;
        flex-shrink: 0;
        margin-right: 20px;
      }

      h4 {
        max-width: 180px;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 10px;
      }
    }

    &__menu {
      display: flex;
      gap: 17px;
      flex-wrap: wrap;
      @media (max-width: 768px) {
       flex-direction: column;
        align-items: center;
      }

      li {
        display: flex;
        flex-direction: column;
        width: 292px;
        flex-shrink: 0;
        margin-bottom: 20px;

        &:not(:last-child) {
          margin-right: 5px;
          @media (max-width: 768px) {
            margin-right: 0;
          }
        }

        a {
          width: max-content;
          @include book-bold;
          font-size: 20px;
          line-height: 1;
          color: #000000;
          border-bottom: 1px solid #ADB9C7;
        }
      }

      img {
        margin-bottom: 15px;
        aspect-ratio: 2 / 1;
      }

    }
  }

  .our-rooms {
    padding: 91px 0 76px;
    background: #F1F0EA;

    h2 {
      color: #000000;
      font-size: 38px;
      padding-left: 48px;
      @include book-bold;
      margin-bottom: 35px;
      line-height: 1.2;
    }

    .rooms-swiper-container {
      @media (max-width: 1024px) {
        margin: 0 auto;
        padding: 0 15px;
      }
    }

    .rooms-swiper {
      .swiper-wrapper {
        margin-bottom: 15px;
      }

      .swiper-slide {
        transition: all .3s;
      }

      .swiper-slide-active {
        height: 567px;
        padding-top: 14px;
        img {
          height: 567px!important;
        }
      }

      .swiper-slide-prev {
        position: relative;
        .rooms-swiper__img {
          position: absolute;
          right: 0;
          width: 193px;
        }
      }

      .swiper-slide-prev, .swiper-slide-next {
        padding-top: 124px;
        img {
          width: 193px!important;
          height: 355px;
        }
      }

      .swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.913);

        img {
          transition: all .3s;
          filter: brightness(.5)
        }

        .rooms-swiper__desc {
          opacity: 0;
        }

      }


      &__desc {
        width: 390px;
        height: 120px;
        background-color: #072E57;
        padding: 25px 30px 55px 30px;
        display: flex;
        align-items: center;
        position: absolute;
        left: -30px;
        bottom: -26px;
        transition: all .3s;
        @media (max-width: 1024px) {
          left: 0;
        }
        @media (max-width: 768px) {
          position: static;
          max-width: 100%;
          padding: 15px 20px 10px 20px;
        }

        p {
          color: #ffffff;
          font-size: 15px;
          @include montserrat-regular;
          line-height: 20px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          @media (max-width: 768px) {
            max-width: 100%;
          }
        }
      }

      &__controls {
        display: flex;
        justify-content: flex-end;
        max-width: 1137px;
        height: 50px;
        margin: 0 auto;
        @media (max-width: 1280px) {
          padding: 0 90px;
        }
        @media (max-width: 1024px) {
          padding: 0;
        }
        @media (max-width: 768px) {
          padding: 0;
          margin-top: 30px;
        }

        button:first-child {
          margin-right: 20px;
        }
      }

      &__img {
        padding-top: 33%;
        position: relative;
        cursor: pointer;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }

  .cafe {
    padding: 70px 0 70px;

    &__gallery {
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr) );
      grid-column-gap: 10px;
      grid-row-gap: 18px;
      justify-items: center;

      a {
        display: inline-block;
        width: 292px;
        height: 146px;
        img {
          height: 100%;
          aspect-ratio: 2 / 1;
        }
      }
    }

  }

}
