.restaurant-page {
  padding-top: 120px;
  background-color: #FFFFFF;

  main {
    padding-top: 30px;
  }

  .breadcrumbs {
    margin-bottom: 28px;
  }

  .section {
    &__row-title {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .blue-btn {
        width: 300px;
        margin-bottom: 20px;
      }
    }

    &__title {
      text-align: left;
      margin-right: 10px;
      margin-bottom: 20px;
    }

    &__desc {
      max-width: 840px;
      text-align: left;

      &:not(:last-of-type) {
        margin-bottom: 25px;
      }

      &:last-of-type {
        margin-bottom: 58px;
      }
    }
  }

  .header {
    &__inner {
      position: relative;
      height: 500px;
      background: url("../img/restaurant-bg.jpg") #fff 50% / cover no-repeat;
      @media (max-width: 768px) {
        height: 300px;
      }
    }
  }

  .services {
    padding-bottom: 50px;

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 44px;
      @media (max-width: 768px) {
       flex-direction: column;
        align-items: center;
      }

      li {
        width: 292px;
        margin-bottom: 20px;
        flex-shrink: 0;

        &:not(:last-child) {
          margin-right: 5px;
          @media (max-width: 768px) {
            margin-right: 0;
          }
        }
      }

      p {
        margin-left: 55px;
        line-height: 1.1;
      }
    }

    &__list-title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      svg {
        width: 35px;
        flex-shrink: 0;
        margin-right: 20px;
      }

      h4 {
        max-width: 180px;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    &__menu {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 768px) {
       flex-direction: column;
        align-items: center;
      }

      li {
        display: flex;
        flex-direction: column;
        width: 292px;
        flex-shrink: 0;
        margin-bottom: 20px;

        &:not(:last-child) {
          margin-right: 5px;
          @media (max-width: 768px) {
            margin-right: 0;
          }
        }

        a {
          width: max-content;
          @include book-bold;
          font-size: 20px;
          line-height: 1;
          color: #000000;
          border-bottom: 1px solid #ADB9C7;
        }
      }

      img {
        margin-bottom: 15px;
      }

    }
  }

  .our-rooms {
    padding: 91px 0 76px;
    background: #F1F0EA;

    h2 {
      color: #000000;
      font-size: 38px;
      @include book-bold;
      margin-bottom: 35px;
      line-height: 1.2;
    }

    .rooms-swiper-container {
      @media (max-width: 1024px) {
        margin: 0 auto;
        padding: 0 15px;
      }
    }

    .rooms-swiper {
      .swiper-wrapper {
        margin-bottom: 15px;
      }

      .swiper-slide {
        transition: all .3s;
      }

      .swiper-slide:not(.swiper-slide-active) {
        transform: scale(0.89);

        img {
          transition: all .3s;
          filter: brightness(.5)
        }

        .rooms-swiper__desc {
          opacity: 0;
        }

      }


      &__desc {
        background-color: #072E57;
        padding: 36px 46px 29px 30px;
        display: flex;
        align-items: center;
        position: absolute;
        left: -30px;
        bottom: -60px;
        transition: all .3s;
        @media (max-width: 1024px) {
          left: 0;
        }
        @media (max-width: 768px) {
          position: static;
          max-width: 100%;
          padding: 15px 20px 10px 20px;
        }

        p {
          color: #ffffff;
          font-size: 15px;
          @include montserrat-regular;
          line-height: 20px;
          max-width: 375px;
          -webkit-line-clamp: 5;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          @media (max-width: 768px) {
            max-width: 100%;
          }
        }
      }

      &__controls {
        display: flex;
        justify-content: flex-end;
        max-width: 1250px;
        padding: 0 15px;
        height: 50px;
        margin: 0 auto;
        @media (max-width: 1280px) {
          padding: 0 90px;
        }
        @media (max-width: 1024px) {
          padding: 0;
        }
        @media (max-width: 768px) {
          padding: 0;
          margin-top: 30px;
        }

        button:first-child {
          margin-right: 20px;
        }
      }

      &__img {
        padding-top: 33%;
        position: relative;
        cursor: pointer;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }

  .cafe {
    padding: 60px 0 80px;

    &__gallery {
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr) );
      grid-column-gap: 10px;
      grid-row-gap: 18px;
      justify-items: center;

      a {
        display: inline-block;
        width: 288px;

        img {
          height: 100%;
        }
      }
    }

  }

}
