.rooms-page {
  .rooms {
    padding-bottom: 50px;

    &__top-bg {
      max-width: 1600px;
      height: 242px;
      margin: 0 auto;
      background-image: url("../img/rooms-top-bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .container {
      padding-top: 74px;
    }

    .section__title {
      margin-bottom: 25px;
    }

    .section__desc {
      max-width: 805px;
      margin: 0 auto 50px;
    }
  }

}
