.selection-one-room-page {
  .selection-one-room {
    .container {
      padding-top: 75px;
      padding-bottom: 200px;
    }

    .section__title {
      margin-bottom: 25px;
    }

    .section__desc {
      max-width: 805px;
      margin: 0 auto 50px;
    }

    &__inner {
      padding: 25px 20px 40px 20px;
      background-color: #D6DCE3;

      h2 {
        margin-bottom: 45px;
        @include book-bold;
        text-align: center;
        font-size: 35px;
      }

      .rooms-list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__item {
          min-width: 100%;

          &-header {
            display: flex;
            max-height: 200px;
          }

          &-title {
            font-size: 30px;
            @include book-bold;
            line-height: normal;
            margin-bottom: 6px;
          }

          &-description {
            padding: 26px 63px 25px 23px;
            width: 100%;

            .room-params {
              display: flex;
              gap: 20px;

              svg {
                margin-right: 5px;
              }
            }

            .rooms-list__advantages {
              margin-top: 15px;
              display: flex;
              flex-wrap: wrap;
              gap: 6px;

              &-item {
                padding: 12px;
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: rgba(225, 234, 245, 0.9);
              }
            }
          }

          &-foto-block {
            position: relative;
            min-width: 260px;
            min-height: 200px;
            background-image: url('../../img/tariffs.jpg');
            position: relative;

            .foto-block_fotos-count {
              display: flex;
              position: absolute;
              content: '';
              bottom: 0;
              right: 0;
              background-color: rgba(83, 90, 97, 0.8);
              font-family: 'Montserrat';
              font-weight: 400;
              font-size: 15px;
              line-height: 18px;
              color: #FFFFFF;
              padding: 14px;

              p {
                margin-left: 10px;
              }
            }
          }

          .two-beds {
            background-image: url('../../img/rooms-item-1.jpg');
          }

          &-body {
            border: 1px solid #ADB9C7;

            .tariffs-item {
              min-width: 100%;
              display: flex;

              &:not(:last-child) {
                border-bottom: 1px solid #ADB9C7;
              }
            }

            .tariffs-conditions,
            .payment-conditions {

              li {
                display: flex;
                align-items: center;

                &:hover {
                  color: #0D77E7;

                  svg path {
                    fill: #0D77E7;
                  }
                }

                p {
                  margin-left: 8px;
                }

                &:not(:last-child) {
                  margin-bottom: 6px;
                }
              }

              .top-alignment {
                align-items: flex-start;
              }
            }

            .tariffs-conditions {
              max-width: 290px;
            }

            .payment-conditions {
              max-width: 396px;
            }

            .tariffs-item-payment {
              display: flex;
              font-size: 13px;
              font-weight: 400;
              line-height: normal;
            }

            .green-block {
              background: #F6FFF3;
            }

            .yellow-block {
              background: #FFE;
            }

            .total-payment {
              min-width: 245px;

              &__price {
                font-size: 20px;
                font-weight: 500;
              }
            }

            .tariffs-item-point {
              flex-grow: 1;
              padding: 10px 20px 5px 20px;
              position: relative;

              &:not(:last-child) {

                &::after {
                  position: absolute;
                  content: '';
                  background-color: #ADB9C7;
                  width: 1px;
                  height: calc(100% - 20px);
                  right: 0;
                  top: 10px;
                }
              }
            }

            .green-text {
              color: #0B8417;
              font-weight: 500;
              font-size: 13px;
            }

            .tariffs-item-booking {
              display: flex;
              flex-direction: column;
              align-items: center;
              min-width: 240px;
              padding-top: 20px;

              .booking-button {
                margin-top: 12px;
                padding: 13px 25px;
                background-color: #0D77E7;
                text-transform: uppercase;
                color: #FFF;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
              }
            }
          }

          &-footer {
            padding: 15px;
            border: 1px solid #ADB9C7;
            border-top: none;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
              text-transform: uppercase;
              color: #0D77E7;
              font-size: 15px;
              font-weight: 500;
              line-height: 22px;
              letter-spacing: 0.45px;
            }
          }
        }
      }
    }
  }
}