.selection-one-room-page {
  .selection-one-room {

    .container {
      padding-top: 60px;
      padding-bottom: 75px;
    }

    .section__title {
      margin-bottom: 25px;
    }

    .section__desc {
      margin: 0 auto 50px;
      max-width: 805px;
    }

    &__inner {
      padding: 25px 20px 40px 20px;
      background-color: #D6DCE3;

      @media (max-width: 1000px) {
        padding-bottom: 20px;
      }

      h2 {
        margin-bottom: 45px;
        @include book-bold;
        text-align: center;
        font-size: 35px;

        @media (max-width: 850px) {
          margin-bottom: 25px;
        }
      }

      .rooms-list {
        display: flex;
        flex-direction: column;
        gap: 20px;


        &__item {
          min-width: 100%;

          &-header {
            display: flex;
            gap: 23px;

            @media (max-width: 820px) {
              height: auto;
              flex-direction: column;
              padding: 15px;
            }
          }

          &-title {
            font-size: 30px;
            @include book-bold;
            line-height: normal;
            margin-bottom: 6px;
          }

          &-description {
            width: 100%;
            padding-top: 26px;
            padding-bottom: 25px;
            @media (max-width: 820px) {
              padding-top: 0;
            }

            .room-params {
              @media (max-width: 1300px) {
                display: flex;
                gap: 15px;
              }

              @media (max-width: 520px) {
                flex-direction: column;
                gap: 5px;
              }

              div {
                display: flex;
                gap: 20px;
              }

              svg {
                margin-right: 5px;
              }
            }

            .rooms-list__advantages {
              margin-top: 15px;
              display: flex;
              flex-wrap: wrap;
              gap: 6px;

              &-item {
                padding: 8px 14px;
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: rgba(225, 234, 245, 0.9);

                @media screen and (max-width: 1230px) {
                  padding: 8px;
                  font-size: 12px;
                }
              }
            }
          }

          &-photo-block {
            min-width: 260px;
            width: 260px;
            position: relative;
            @media (max-width: 820px) {
              height: 200px;
            }


            img {
              width: 100%;
              height: 100%;
            }

            .photo-block_photos-count {
              display: flex;
              position: absolute;
              content: '';
              bottom: 0;
              right: 0;
              background-color: rgba(83, 90, 97, 0.8);
              @include montserrat-regular;
              font-size: 15px;
              line-height: 18px;
              color: #FFFFFF;
              padding: 14px;

              p {
                margin-left: 10px;
              }
            }
          }

          &-body {
            border: 1px solid #ADB9C7;

            .tariffs {
              @media (max-width: 1340px) {
                display: flex;
              }
            }

            .tariffs-item {
              min-width: 100%;
              display: flex;

              &:not(:last-child) {
                border-bottom: 1px solid #ADB9C7;
              }

              @media (max-width: 1340px) {
                min-width: calc(100% / 3);
                flex-direction: column;

                ul {
                  max-width: 100%;
                }

                &:not(:last-child) {
                  border-bottom: none;
                  border-right: 1px solid #ADB9C7;
                }
              }
            }

            .tariffs-conditions,
            .payment-conditions {
              @media (max-width: 1340px) {
                border-bottom: 1px solid #ADB9C7;
              }

              li {
                display: flex;
                align-items: center;

                position: relative;

                @media (max-width: 1340px) {
                  max-width: 100%;
                }

                &::before {
                  @media (max-width: 460px) {
                    position: absolute;
                    content: '';

                    width: 3px;
                    height: 3px;

                    border-radius: 50%;
                    background-color: #000;
                  }
                }

                &:hover {
                  color: #0D77E7;

                  svg path {
                    fill: #0D77E7;
                  }
                }

                p {
                  margin-left: 8px;


                  @media (max-width: 1340px) {
                    width: 90%;
                  }

                  @media (max-width: 1340px) {
                    font-size: 12px;
                    line-height: normal;
                  }

                  @media (max-width: 600px) {
                    font-size: 10px;
                    line-height: 10px;
                  }
                }

                svg {
                  @media (max-width: 460px) {
                    display: none;
                  }
                }

                &:not(:last-child) {
                  margin-bottom: 6px;

                  @media (max-width: 1340px) {
                    font-size: 12px;
                    margin-bottom: 0px;
                  }
                }
              }

              .top-alignment {
                align-items: flex-start;
              }
            }

            .tariffs-conditions {
              min-width: 290px;

              @media (max-width: 1340px) {
                min-width: calc(100% / 3);
              }

              li {
                @media (max-width: 730px) {
                  min-height: 30px;
                }
              }
            }

            .payment-conditions {
              min-width: 396px;

              @media (max-width: 1340px) {
                min-width: calc(100% / 3);
              }

              @media (max-width: 720px) {
                min-height: 80px;
              }

              li {
                @media (max-width: 1230px) {
                  min-height: 50px;
                  margin-top: 5px;
                }

                @media (max-width: 760px) {
                  min-height: 50px;
                }
              }
            }

            .tariffs-item-payment {
              display: flex;
              font-size: 13px;
              font-weight: 400;
              line-height: normal;

              @media (max-width: 760px) {
                padding-top: 10px;
              }

              @media (max-width: 1340px) {
                flex-direction: column;
                align-items: flex-start;
              }
            }

            .green-block {
              background: #F6FFF3;
            }

            .yellow-block {
              background: #FFE;
            }

            .total-payment {
              min-width: 245px;

              &__price {
                font-size: 20px;
                font-weight: 500;

                @media (max-width: 400px) {
                  font-size: 4vw;
                }
              }

              @media (max-width: 800px) {
                font-size: 10px;
                min-width: 100px;
              }
            }

            .tariffs-item-point {
              flex-grow: 1;
              padding: 10px 20px 5px 20px;
              position: relative;

              @media (max-width: 1000px) {
                flex-grow: unset;
              }

              &:not(:last-child) {
                &::after {
                  position: absolute;
                  content: '';
                  background-color: #ADB9C7;
                  width: 1px;
                  height: calc(100% - 20px);
                  right: 0;
                  top: 10px;

                  @media (max-width: 1340px) {
                    width: 0;
                    height: 0;
                  }
                }
              }

              @media (max-width: 1340px) {
                padding: 10px 10px 5px 10px;
              }

              @media (max-width: 600px) {
                padding: 5px;
              }

              svg {
                @media (max-width: 700px) {
                  width: 20px;
                  height: 20px;
                }
              }
            }

            .green-text {
              color: #0B8417;
              font-weight: 500;
              font-size: 13px;

              @media (max-width: 800px) {
                font-size: 10px;
                margin: 5px 0;
              }

              @media (max-width: 600px) {
                max-width: 70px;
              }
            }

            .best-price-text {
              @media (max-width: 660px) {
                min-height: 26px;
              }
            }

            .tariffs-item-booking {
              display: flex;
              flex-direction: column;
              align-items: center;
              min-width: 240px;
              padding-top: 20px;

              @media (max-width: 1340px) {
                padding: 10px;
                align-items: flex-start;
              }

              @media (max-width: 800px) {
                padding: 5px;
              }

              .booking-button {
                margin-top: 12px;
                padding: 13px 25px;
                background-color: #0D77E7;
                text-transform: uppercase;
                color: #FFF;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;

                @media (max-width: 1340px) {
                  margin-bottom: 10px;
                }

                @media (max-width: 800px) {
                  font-size: 1vh;
                  padding: 1vw 2vw;
                }
              }
            }
          }

          &-footer {
            padding: 15px;
            border: 1px solid #ADB9C7;
            border-top: none;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 500px) {
              padding: 6px;
            }

            button {
              text-transform: uppercase;
              color: #0D77E7;
              font-size: 15px;
              font-weight: 500;
              line-height: 22px;
              letter-spacing: 0.45px;

              @media (max-width: 760px) {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
