.services-page {
  main {
    margin-top: 140px;
  }

  .services {
    border-top: 1px solid #ADB9C7;

    .container {
      padding-top: 75px;
      padding-bottom: 200px;
    }

    .section__title {
      margin-bottom: 25px;
    }

    .section__desc {
      max-width: 805px;
      margin: 0 auto 50px;
    }


    &__inner {
      padding: 18px 20px 38px;
      background-color: #D6DCE3;

      .services__row {
        align-items: flex-start;

        &.icons {
          flex-wrap: wrap;
        }
      }
    }

    &__titles {
      display: flex;
      margin-bottom: 43px;

      a {
        display: flex;
        align-items: center;
        margin-right: 10px;
        color: #70767E;
        flex-shrink: 0;

        svg {
          margin-right: 14px;
        }
      }

      h2 {
        width: 100%;
        padding-right: 130px;
        @include book-bold;
        text-align: center;
        font-size: 35px;
        line-height: 1;
      }
    }

    &__room {
      display: flex;
      background-color: #FFFFFF;
      border: 1px solid #ADB9C7;
    }

    &__images {
      min-width: 260px;
      width: 260px;
      height: 200px;
      position: relative;
    }

    &__images-counter {
      display: flex;
      align-items: center;
      padding: 12px 14px;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: rgba(83, 90, 97, 0.8);

      svg {
        margin-right: 10px;
      }

      p {
        font-size: 15px;
        color: #FFFFFF;
      }
    }

    &__information {
      width: 100%;
      padding: 26px 19px 24px 23px;
      background-color: #FFFFFF;

      .services__row {
        &:nth-child(1) {
          margin-bottom: 22px;
          align-items: center;
        }

        &:nth-child(2) {
          margin-bottom: 19px;
          align-items: center;

          svg {
            margin-right: 6px;
          }

          p {
            margin-right: 20px;
          }
        }
      }

      h3 {
        margin-right: 10px;
        @include book-bold;
        font-size: 30px;
        line-height: 1.2;
      }

      a {
        display: flex;
        align-items: center;
        color: #0D77E7;
        font-weight: 500;
        letter-spacing: 0.45px;
        text-transform: lowercase;

        svg {
          margin-left: 9px;
        }
      }
    }

    &__row {
      display: flex;
      align-items: center;
    }

    &__icon, &__icon-btn {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 42px;
      margin-right: 5px;
      margin-bottom: 6px;
      padding: 0 14px;
      background-color: rgba(225, 234, 245, 0.9);

      svg {
        margin-right: 10px;
      }
    }

    &__list {
      width: 100%;
      margin-right: 15px;

      li {
        margin-bottom: 37px;

      }
    }

    &__item {
      .services__information h3 {
        font-size: 25px;
      }

      .services__row.icons {
        margin-bottom: 16px;
      }

      &._comfort {
        .services__item-bottom {
          padding: 19px 21px 19px 280px;
        }
      }
    }

    &__item-bottom {
      padding: 19px 21px 19px 240px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #FFFFFF;
      border: 1px solid #ADB9C7;
      border-top: none;
      position: relative;

      &::before {
        content: '';
        width: 10px;
        height: 4px;
        background: #FFFFFF;
        position: absolute;
        left: 0;
        top: -2px;
      }

      &::after {
        content: '';
        width: 10px;
        height: 4px;
        background: #FFFFFF;
        position: absolute;
        right: 0;
        top: -2px;
      }

      span {
        font-size: 25px;
      }

      b {
        font-weight: 600;
      }
    }

    &__btn-change {
      max-width: 225px;
    }

    &__subtitle {
      display: flex;
      align-items: center;
      margin-bottom: 13px;

      h3 {
        font-weight: 500;
        font-size: 25px;
      }

      svg {
        margin-right: 5px;
      }
    }

    &__swiper {
      width: 260px;
      height: 245px;
      flex-shrink: 0;

      .swiper-pagination {
        bottom: 0;
      }

      .swiper-pagination-bullet {
        width: 21%;
        height: 5px;
        background: #FFFFFF;
        opacity: 1;
        border-radius: 0;
      }

      .swiper-pagination-bullet-active {
        background: #0D77E7;
      }

      .swiper-slide {
        img {
          height: 100%;
        }
      }
    }

    &__image {
      width: 220px;
      height: 205px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__guest {
      .services__row {
        align-items: center;
      }
      svg {
        margin-right: 10px;
      }

      p {
        margin-left: 26px;
        line-height: 1;
      }

      b {
        font-weight: 600;
      }
    }

    &__price {
      display: flex;
    }

    &__price-tariff {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 20px;

      p {
        line-height: 1.1;
        &:first-child {
          font-size: 20px;
        }
      }

      b {
        font-weight: 600;
      }
    }

    &__btns {
      display: flex;
      align-items: center;

      p {
        width: 38px;
        height: 38px;
        @include book-bold;
        font-size: 23px;
        background-color: #F4F9FF;
        color: #838E9A;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__btn {
      width: 38px;
      height: 38px;
      background-color: #E1EAF5;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .services-booking {
      width: 280px;
      margin-left: auto;
      padding: 23px 0 26px;
      flex-shrink: 0;
      background-color: #FFF;
      border: 1px solid #ADB9C7;

      &__title {
        padding: 0 20px 7px;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.45px;
      }

      &__length {
        padding: 3px 20px;
        font-weight: 600;
        background-color: #E1EAF5;
      }

      &__days {
        padding: 11px 20px 6px;
        display: flex;
        align-items: flex-start;
      }

      &__day {
        p {
          &:first-child {
            font-size: 17px;
            line-height: 1;
          }

          &:last-child {
            font-size: 13px;
          }
        }

        b {
          margin-right: 5px;
          font-size: 20px;
          font-weight: 600;
        }
      }

      &__room {
        padding: 3px 20px 10px;
        background-color: #E1EAF5;

        a {
          display: block;
          width: max-content;
          color: #000000;
          line-height: 1;
          border-bottom: 1px solid #ADB9C7;
          position: relative;

          &::after {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.887 1.11298C10.9228 1.14871 10.9512 1.19114 10.9706 1.23786C10.99 1.28459 11 1.33467 11 1.38526C11 1.43584 10.99 1.48593 10.9706 1.53265C10.9512 1.57937 10.9228 1.62181 10.887 1.65753L6.27218 6.27238C6.23645 6.30819 6.19401 6.3366 6.14729 6.35599C6.10057 6.37538 6.05048 6.38536 5.9999 6.38536C5.94931 6.38536 5.89923 6.37538 5.85251 6.35599C5.80578 6.3366 5.76335 6.30819 5.72762 6.27238L1.11278 1.65753C1.04057 1.58532 1 1.48738 1 1.38526C1 1.28313 1.04057 1.18519 1.11278 1.11298C1.18499 1.04077 1.28293 1.0002 1.38506 1.0002C1.48718 1.0002 1.58512 1.04077 1.65733 1.11298L5.9999 5.45632L10.3425 1.11298C10.3782 1.07717 10.4206 1.04875 10.4673 1.02937C10.5141 1.00998 10.5642 1 10.6147 1C10.6653 1 10.7154 1.00998 10.7621 1.02937C10.8089 1.04875 10.8513 1.07717 10.887 1.11298Z' fill='black' stroke='black' stroke-width='0.5'/%3e%3c/svg%3e");
            width: 10px;
            height: 100%;
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      &__wrapper {
        display: flex;
        justify-content: space-between;
      }

      &__total {
        padding: 28px 20px 16px;
        display: flex;
        justify-content: space-between;

        b {
          font-weight: 600;
        }

        p {
          font-size: 30px;
          font-weight: 500;
          line-height: 0.5;

          span {
            font-weight: 400;
            color: #ADB9C7;
          }
        }
      }

      .blue-btn {
        margin: 0 auto;
        width: calc(100% - 40px);
      }
    }


  }
}
