.tariffs-page {
  main {
    margin-top: 140px;
  }
  .tariffs {
    border-top: 1px solid #ADB9C7;

    .container {
      padding-top: 75px;
      padding-bottom: 200px;
    }

    .section__title {
      margin-bottom: 25px;
    }

    .section__desc {
      max-width: 805px;
      margin: 0 auto 50px;
    }

    &__inner {
      padding: 18px 20px 38px;
      background-color: #D6DCE3;

      .tariffs__row {
        align-items: flex-start;

        &.icons {
          flex-wrap: wrap;
        }
      }
    }

    &__titles {
      display: flex;
      margin-bottom: 43px;

      a {
        display: flex;
        align-items: center;
        margin-right: 10px;
        color: #70767E;
        flex-shrink: 0;

        svg {
          margin-right: 14px;
        }
      }

      h2 {
        width: 100%;
        padding-right: 130px;
        @include book-bold;
        text-align: center;
        font-size: 35px;
        line-height: 1;
      }
    }

    &__room {
      display: flex;
      margin-bottom: 25px;
    }

    &__images {
      min-width: 260px;
      width: 260px;
      height: 200px;
      position: relative;
      border: 1px solid #ADB9C7;
      border-right: none;
    }

    &__images-counter {
      display: flex;
      align-items: center;
      padding: 12px 14px;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: rgba(83, 90, 97, 0.8);

      svg {
        margin-right: 10px;
      }

      p {
        font-size: 15px;
        color: #FFFFFF;
      }
    }

    &__information {
      width: 100%;
      padding: 21px 19px 13px 23px;
      border: 1px solid #ADB9C7;
      border-left: none;
      background-color: #FFFFFF;

      .tariffs__row {
        &:nth-child(1) {
          justify-content: space-between;
          margin-bottom: 22px;
        }

        &:nth-child(2) {
          margin-bottom: 19px;
          align-items: center;
          svg {
            margin-right: 6px;
          }

          p {
            &:first-of-type {
              margin-right: 20px;
            }
          }
        }
      }

      h3 {
        margin-right: 10px;
        @include book-bold;
        font-size: 30px;
        line-height: 1.2;
      }

      a {
        height: 46px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        color: #0D77E7;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.45px;
        text-transform: uppercase;
        border: 1px solid #0D77E7;

        svg {
          margin-left: 9px;
        }
      }
    }

    &__row {
      display: flex;
      align-items: center;
    }

    &__icon, &__icon-btn {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 42px;
      margin-right: 5px;
      margin-bottom: 10px;
      padding: 0 16px;
      background-color: rgba(225, 234, 245, 0.9);

      svg {
        margin-right: 10px;
      }
    }

    &__filters {
      width: 245px;
      flex-shrink: 0;
      margin-right: 17px;

      p {
        margin-bottom: 10px;
        font-weight: 500;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.45px;
      }

      .custom-select {
        margin-bottom: 22px;

        &._food {
          .choices {
            &::before {
              content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='19' viewBox='0 0 16 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.36608 19.0001C2.95411 18.9089 2.58747 18.7439 2.32019 18.3999C2.07583 18.0925 1.95299 17.706 1.97504 17.3139C2.04206 15.6463 2.1112 13.9785 2.18248 12.3105C2.21676 11.4831 2.25046 10.6551 2.29172 9.82767C2.29811 9.69636 2.25569 9.63999 2.13716 9.58479C0.800743 8.95668 0.0453797 7.90382 0.00412518 6.42331C-0.0388725 4.85447 0.251651 3.33794 0.9983 1.93586C1.32369 1.3246 1.73739 0.781899 2.3289 0.397245C3.20745 -0.174508 4.21499 -0.107106 5.02032 0.567492C5.74838 1.17759 6.19462 1.97305 6.52059 2.84404C6.93756 3.96443 7.13541 5.15448 7.10338 6.34951C7.06968 7.87012 6.32304 8.94971 4.95002 9.59409C4.84368 9.64406 4.80534 9.69055 4.81056 9.80908C4.8954 11.7238 4.97732 13.6386 5.05635 15.5533C5.08133 16.1588 5.11445 16.7642 5.13014 17.3697C5.14129 17.753 5.01231 18.1272 4.76737 18.4222C4.52243 18.7172 4.17833 18.9127 3.79954 18.9722C3.77688 18.9791 3.75505 18.9884 3.73446 19.0001H3.36608Z' fill='%23ADB9C7'/%3e%3cpath d='M12.1372 19C11.7259 18.9088 11.3592 18.7438 11.0914 18.3998C10.847 18.0924 10.7242 17.7059 10.7462 17.3138C10.8132 15.6462 10.8822 13.9786 10.9531 12.311C11.0048 11.0757 11.0524 9.83976 11.1094 8.60503C11.1152 8.47836 11.0728 8.42142 10.9682 8.36447C9.87464 7.76599 9.33427 6.8305 9.36448 5.59229C9.40864 3.77535 9.48592 1.95957 9.54461 0.142628C9.54809 0.0264184 9.58237 -0.00321522 9.69335 0.000852127C9.93449 0.00898682 10.1762 0.00898682 10.4168 0.000852127C10.526 -0.00263417 10.5458 0.0362971 10.5487 0.136238C10.594 1.53076 10.642 2.92721 10.6928 4.3256C10.7073 4.75151 10.7247 5.178 10.7317 5.60391C10.7317 5.72012 10.7735 5.75208 10.8839 5.74685C11.0508 5.73755 11.218 5.73755 11.3848 5.74685C11.5068 5.7544 11.5405 5.71257 11.5434 5.59171C11.562 4.88748 11.5899 4.18324 11.6137 3.47843C11.6521 2.3663 11.6922 1.25417 11.7253 0.142047C11.7288 0.0258368 11.7561 -0.00321401 11.8705 0.000272284C12.1733 0.00898802 12.4766 0.00898802 12.7787 0.000272284C12.8949 -0.00321401 12.9205 0.0287421 12.924 0.142047C12.9821 1.94039 13.0478 3.73816 13.103 5.53651C13.1082 5.70385 13.1494 5.76544 13.3208 5.74743C13.4688 5.7358 13.6174 5.7358 13.7653 5.74743C13.8757 5.75382 13.9141 5.72186 13.9176 5.60507C13.9513 4.49294 13.9908 3.38081 14.0291 2.26869C14.0535 1.55806 14.0803 0.847441 14.1006 0.136817C14.1006 0.036877 14.1233 -0.00205255 14.2325 0.00143374C14.4738 0.0103432 14.715 0.0103432 14.9559 0.00143374C15.0675 -0.0026336 15.1018 0.0275811 15.1047 0.14321C15.1389 1.28671 15.179 2.42964 15.218 3.5714C15.2377 4.14606 15.2499 4.7213 15.2819 5.29537C15.3197 5.98101 15.2401 6.6376 14.8781 7.23898C14.6007 7.71735 14.1905 8.10506 13.6974 8.35518C13.5759 8.41328 13.5341 8.48359 13.5405 8.62304C13.6567 11.254 13.7665 13.8852 13.8699 16.5166C13.8845 16.8652 13.9234 17.2191 13.8891 17.5718C13.8584 17.9187 13.7121 18.2453 13.4736 18.4992C13.2352 18.7531 12.9185 18.9196 12.5742 18.9721C12.5518 18.9791 12.5301 18.9884 12.5097 19H12.1372Z' fill='%23ADB9C7'/%3e%3c/svg%3e ");
            }
          }
        }

        &._cancel {
          .choices {
            &::before {
              content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.87546 4.56431C10.2936 4.56485 11.6735 5.02485 12.8083 5.8754C13.9431 6.72595 14.7718 7.92126 15.1703 9.28232C15.5688 10.6434 15.5156 12.0969 15.0187 13.4252C14.5218 14.7535 13.608 15.885 12.414 16.6503C11.2201 17.4157 9.81028 17.7736 8.39585 17.6705C6.98141 17.5674 5.63845 17.0088 4.56812 16.0784C3.49778 15.148 2.75768 13.8959 2.45867 12.5095C2.15966 11.1232 2.31784 9.67737 2.90951 8.3885C2.9739 8.2318 2.9752 8.05626 2.91312 7.89863C2.85104 7.741 2.73039 7.61348 2.57643 7.54278C2.42248 7.47207 2.24714 7.46365 2.08711 7.51929C1.92709 7.57492 1.79478 7.69029 1.71789 7.84125C1.00792 9.38797 0.818186 11.1231 1.17711 12.7867C1.53603 14.4503 2.42429 15.9528 3.70883 17.0693C4.99337 18.1857 6.60504 18.8558 8.30243 18.9794C9.99982 19.103 11.6916 18.6733 13.1242 17.7547C14.5569 16.836 15.6534 15.478 16.2495 13.8839C16.8456 12.2898 16.9091 10.5455 16.4306 8.91228C15.9521 7.27904 14.9574 5.84478 13.5954 4.82435C12.2333 3.80392 10.5773 3.25224 8.87546 3.25195V4.56431Z' fill='%23ADB9C7' stroke='%23ADB9C7' stroke-width='0.5'/%3e%3cpath d='M8.87818 6.48814V1.32797C8.87816 1.26562 8.86037 1.20458 8.82691 1.15198C8.79345 1.09938 8.74569 1.0574 8.68923 1.03097C8.63278 1.00453 8.56995 0.994721 8.50813 1.0027C8.4463 1.01067 8.38802 1.0361 8.34012 1.07599L5.24296 3.65608C5.20604 3.68687 5.17634 3.7254 5.15595 3.76894C5.13557 3.81248 5.125 3.85997 5.125 3.90805C5.125 3.95613 5.13557 4.00362 5.15595 4.04716C5.17634 4.0907 5.20604 4.12923 5.24296 4.16002L8.34012 6.74011C8.38802 6.78001 8.4463 6.80543 8.50813 6.81341C8.56995 6.82138 8.63278 6.81158 8.68923 6.78514C8.74569 6.7587 8.79345 6.71672 8.82691 6.66412C8.86037 6.61152 8.87816 6.55048 8.87818 6.48814Z' fill='%23ADB9C7' stroke='%23ADB9C7' stroke-width='0.5'/%3e%3c/svg%3e ");
            }
          }
        }

        &._payment {
          .choices {
            &::before {
              content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.9208 8.03278H12.5189C12.3316 8.03104 12.1448 8.05116 11.9622 8.09273C11.3504 8.22587 10.8083 8.57781 10.4377 9.08244C10.0671 9.58707 9.89357 10.2097 9.94962 10.8332C10.0095 11.4723 10.3064 12.0657 10.7819 12.4969C11.2574 12.928 11.877 13.1655 12.5189 13.1627H14.9168C15.0453 13.1627 15.071 13.1627 15.071 13.3168C15.071 13.8821 15.071 14.4559 15.071 15.0297C15.0803 15.1253 15.0683 15.2219 15.0359 15.3123C15.0034 15.4028 14.9514 15.485 14.8834 15.5529C14.8154 15.6209 14.7333 15.6729 14.6428 15.7054C14.5523 15.7378 14.4558 15.7498 14.3602 15.7405H4.25447C3.99205 15.749 3.73071 15.7032 3.48676 15.6061C3.24282 15.5091 3.02151 15.3627 2.83666 15.1763C2.65181 14.9898 2.5074 14.7673 2.41243 14.5225C2.31747 14.2777 2.27399 14.016 2.28473 13.7536C2.28473 10.5934 2.28473 7.42473 2.28473 4.26456C2.28217 4.0824 2.30523 3.90077 2.35323 3.72502C2.46056 3.30215 2.70944 2.92879 3.05846 2.66702C3.40748 2.40526 3.8356 2.27089 4.2716 2.28625H13.204C13.3647 2.29047 13.5179 2.35562 13.6324 2.46852C13.7469 2.58142 13.8142 2.73363 13.8206 2.8943C13.8206 3.04845 13.8206 3.19403 13.8206 3.33962C13.8206 3.48521 13.8206 3.57087 13.5979 3.57087H4.22878C4.0934 3.56478 3.95963 3.60224 3.84711 3.67777C3.73459 3.75329 3.64924 3.86291 3.6036 3.99051C3.56809 4.09037 3.55785 4.19749 3.57379 4.30228C3.58973 4.40707 3.63135 4.50628 3.69495 4.59108C3.75854 4.67587 3.84214 4.7436 3.93827 4.78824C4.0344 4.83289 4.14009 4.85304 4.24591 4.84692H14.4201C14.5103 4.84197 14.6004 4.85607 14.6848 4.88832C14.7691 4.92057 14.8457 4.97024 14.9095 5.03408C14.9733 5.09792 15.023 5.17449 15.0553 5.25882C15.0875 5.34315 15.1016 5.43335 15.0967 5.52349V6.12297C15.0944 6.20762 15.1091 6.29188 15.1399 6.37076C15.1707 6.44964 15.217 6.52155 15.2761 6.58222C15.3352 6.6429 15.4058 6.69109 15.4839 6.72401C15.5619 6.75692 15.6457 6.77388 15.7304 6.77385C15.8154 6.77621 15.9 6.7612 15.979 6.72976C16.058 6.69832 16.1297 6.6511 16.1899 6.59098C16.25 6.53086 16.2972 6.45911 16.3286 6.38012C16.3601 6.30112 16.3751 6.21653 16.3727 6.13154C16.3727 5.89174 16.3727 5.66051 16.3727 5.42927C16.3922 5.05576 16.2889 4.68615 16.0786 4.37687C15.8683 4.06758 15.5625 3.83562 15.208 3.71645C15.1138 3.71645 15.0795 3.64795 15.0881 3.54518C15.0967 3.44241 15.0881 3.18548 15.0881 3.00563C15.1002 2.73998 15.0569 2.4747 14.9611 2.22666C14.8652 1.97862 14.7188 1.75322 14.5311 1.56478C14.3435 1.37633 14.1187 1.22897 13.8711 1.13202C13.6234 1.03507 13.3584 0.99067 13.0927 1.00163H4.22878C3.80424 0.997063 3.38304 1.07717 2.98982 1.23727C2.5966 1.39737 2.23924 1.63426 1.93862 1.93407C1.63801 2.23389 1.40018 2.5906 1.23904 2.98339C1.07789 3.37619 0.996666 3.79717 1.0001 4.22173C1.0001 7.41615 1.0001 10.602 1.0001 13.7965C0.99841 14.0092 1.0185 14.2215 1.06005 14.4302C1.20476 15.1644 1.60332 15.8243 2.18585 16.2941C2.76838 16.7638 3.49769 17.0136 4.24591 16.9994H14.4715C14.9242 17.0001 15.362 16.8378 15.7049 16.5421C16.0477 16.2465 16.2726 15.8373 16.3385 15.3894C16.3771 14.8362 16.3771 14.2811 16.3385 13.7279C16.3385 13.5481 16.2785 13.2997 16.3385 13.1884C16.3984 13.077 16.6982 13.1884 16.8866 13.1884C16.9808 13.1962 17.0755 13.1833 17.1643 13.1508C17.253 13.1183 17.3336 13.0668 17.4004 13C17.4672 12.9331 17.5187 12.8525 17.5513 12.7638C17.5838 12.6751 17.5966 12.5803 17.5888 12.4861V8.76074C17.6015 8.66728 17.5935 8.57217 17.5653 8.48218C17.5371 8.39219 17.4894 8.30952 17.4256 8.24003C17.3618 8.17055 17.2836 8.11596 17.1963 8.08014C17.1091 8.04432 17.015 8.02815 16.9208 8.03278ZM16.3556 11.7153C16.3556 11.8438 16.3556 11.8781 16.1929 11.8781H12.5103C12.1696 11.8781 11.8428 11.7427 11.6019 11.5018C11.361 11.2609 11.2257 10.9342 11.2257 10.5934C11.2279 10.2542 11.3643 9.92968 11.605 9.69062C11.8456 9.45155 12.1711 9.31739 12.5103 9.3174C13.1098 9.3174 13.7093 9.3174 14.3088 9.3174H16.1929C16.3213 9.3174 16.3556 9.3174 16.3556 9.48012C16.3727 10.2509 16.3727 10.9703 16.3813 11.7153H16.3556Z' fill='%23ADB9C7' stroke='%23ADB9C7' stroke-width='0.3'/%3e%3c/svg%3e ");
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.9208 8.03278H12.5189C12.3316 8.03104 12.1448 8.05116 11.9622 8.09273C11.3504 8.22587 10.8083 8.57781 10.4377 9.08244C10.0671 9.58707 9.89357 10.2097 9.94962 10.8332C10.0095 11.4723 10.3064 12.0657 10.7819 12.4969C11.2574 12.928 11.877 13.1655 12.5189 13.1627H14.9168C15.0453 13.1627 15.071 13.1627 15.071 13.3168C15.071 13.8821 15.071 14.4559 15.071 15.0297C15.0803 15.1253 15.0683 15.2219 15.0359 15.3123C15.0034 15.4028 14.9514 15.485 14.8834 15.5529C14.8154 15.6209 14.7333 15.6729 14.6428 15.7054C14.5523 15.7378 14.4558 15.7498 14.3602 15.7405H4.25447C3.99205 15.749 3.73071 15.7032 3.48676 15.6061C3.24282 15.5091 3.02151 15.3627 2.83666 15.1763C2.65181 14.9898 2.5074 14.7673 2.41243 14.5225C2.31747 14.2777 2.27399 14.016 2.28473 13.7536C2.28473 10.5934 2.28473 7.42473 2.28473 4.26456C2.28217 4.0824 2.30523 3.90077 2.35323 3.72502C2.46056 3.30215 2.70944 2.92879 3.05846 2.66702C3.40748 2.40526 3.8356 2.27089 4.2716 2.28625H13.204C13.3647 2.29047 13.5179 2.35562 13.6324 2.46852C13.7469 2.58142 13.8142 2.73363 13.8206 2.8943C13.8206 3.04845 13.8206 3.19403 13.8206 3.33962C13.8206 3.48521 13.8206 3.57087 13.5979 3.57087H4.22878C4.0934 3.56478 3.95963 3.60224 3.84711 3.67777C3.73459 3.75329 3.64924 3.86291 3.6036 3.99051C3.56809 4.09037 3.55785 4.19749 3.57379 4.30228C3.58973 4.40707 3.63135 4.50628 3.69495 4.59108C3.75854 4.67587 3.84214 4.7436 3.93827 4.78824C4.0344 4.83289 4.14009 4.85304 4.24591 4.84692H14.4201C14.5103 4.84197 14.6004 4.85607 14.6848 4.88832C14.7691 4.92057 14.8457 4.97024 14.9095 5.03408C14.9733 5.09792 15.023 5.17449 15.0553 5.25882C15.0875 5.34315 15.1016 5.43335 15.0967 5.52349V6.12297C15.0944 6.20762 15.1091 6.29188 15.1399 6.37076C15.1707 6.44964 15.217 6.52155 15.2761 6.58222C15.3352 6.6429 15.4058 6.69109 15.4839 6.72401C15.5619 6.75692 15.6457 6.77388 15.7304 6.77385C15.8154 6.77621 15.9 6.7612 15.979 6.72976C16.058 6.69832 16.1297 6.6511 16.1899 6.59098C16.25 6.53086 16.2972 6.45911 16.3286 6.38012C16.3601 6.30112 16.3751 6.21653 16.3727 6.13154C16.3727 5.89174 16.3727 5.66051 16.3727 5.42927C16.3922 5.05576 16.2889 4.68615 16.0786 4.37687C15.8683 4.06758 15.5625 3.83562 15.208 3.71645C15.1138 3.71645 15.0795 3.64795 15.0881 3.54518C15.0967 3.44241 15.0881 3.18548 15.0881 3.00563C15.1002 2.73998 15.0569 2.4747 14.9611 2.22666C14.8652 1.97862 14.7188 1.75322 14.5311 1.56478C14.3435 1.37633 14.1187 1.22897 13.8711 1.13202C13.6234 1.03507 13.3584 0.99067 13.0927 1.00163H4.22878C3.80424 0.997063 3.38304 1.07717 2.98982 1.23727C2.5966 1.39737 2.23924 1.63426 1.93862 1.93407C1.63801 2.23389 1.40018 2.5906 1.23904 2.98339C1.07789 3.37619 0.996666 3.79717 1.0001 4.22173C1.0001 7.41615 1.0001 10.602 1.0001 13.7965C0.99841 14.0092 1.0185 14.2215 1.06005 14.4302C1.20476 15.1644 1.60332 15.8243 2.18585 16.2941C2.76838 16.7638 3.49769 17.0136 4.24591 16.9994H14.4715C14.9242 17.0001 15.362 16.8378 15.7049 16.5421C16.0477 16.2465 16.2726 15.8373 16.3385 15.3894C16.3771 14.8362 16.3771 14.2811 16.3385 13.7279C16.3385 13.5481 16.2785 13.2997 16.3385 13.1884C16.3984 13.077 16.6982 13.1884 16.8866 13.1884C16.9808 13.1962 17.0755 13.1833 17.1643 13.1508C17.253 13.1183 17.3336 13.0668 17.4004 13C17.4672 12.9331 17.5187 12.8525 17.5513 12.7638C17.5838 12.6751 17.5966 12.5803 17.5888 12.4861V8.76074C17.6015 8.66728 17.5935 8.57217 17.5653 8.48218C17.5371 8.39219 17.4894 8.30952 17.4256 8.24003C17.3618 8.17055 17.2836 8.11596 17.1963 8.08014C17.1091 8.04432 17.015 8.02815 16.9208 8.03278ZM16.3556 11.7153C16.3556 11.8438 16.3556 11.8781 16.1929 11.8781H12.5103C12.1696 11.8781 11.8428 11.7427 11.6019 11.5018C11.361 11.2609 11.2257 10.9342 11.2257 10.5934C11.2279 10.2542 11.3643 9.92968 11.605 9.69062C11.8456 9.45155 12.1711 9.31739 12.5103 9.3174C13.1098 9.3174 13.7093 9.3174 14.3088 9.3174H16.1929C16.3213 9.3174 16.3556 9.3174 16.3556 9.48012C16.3727 10.2509 16.3727 10.9703 16.3813 11.7153H16.3556Z' fill='%23ADB9C7' stroke='%23ADB9C7' stroke-width='0.3'/%3e%3c/svg%3e ");
            }
          }
        }

        .choices__list--single {
          padding: 1px 16px 4px 4px;
        }

        .choices[data-type*=select-one]::after {
          margin: 0;
          width: 15px;
          height: 10px;
          top: 5px;
          transform: none;
          right: 18px;
          border-color: transparent;
          display: block;
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.71429 7L13.3951 0.25H0.0335183L6.71429 7Z' fill='%23ADB9C7'/%3e%3c/svg%3e ");
        }
        .choices[data-type*=select-one].is-open::after {
          margin: 0;
        }

        .choices {
          &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 19px;
            object-fit: contain;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }

          &::after {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.71429 7L13.3951 0.25H0.0335183L6.71429 7Z' fill='%23ADB9C7'/%3e%3c/svg%3e ");
          }

          &[data-type*=select-one]:hover::after {
            content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.71429 7L13.3951 0.25H0.0335183L6.71429 7Z' fill='%23ADB9C7'/%3e%3c/svg%3e ");
          }

          &__list--single .choices__item {
            white-space: nowrap;
            overflow: hidden;
          }

          &__inner {
            height: 46px;
            padding: 9px 10px 9px 30px;
            font-size: 17px;

            &::after {
              content: '';
              position: absolute;
              height: 96%;
              width: 65px;
              background: linear-gradient(90deg, rgb(255, 0, 0, 0), #ffffff 35%);
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }

      .blue-btn {
        margin-bottom: 16px;
      }
    }

    &__included {
      margin-bottom: 24px;

      span {
        display: block;
        margin-bottom: 18px;
        line-height: 1;
      }
    }

    &__included-item {
      display: flex;
      align-items: center;
      padding: 13px 10px;
      border: 1px solid #ADB9C7;
      background: rgba(173, 185, 199, 0.9);

      p {
        margin: 0;
      }

      svg {
        margin-right: 8px;
      }
    }

    &__btn-reset {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      svg {
        margin-right: 4px;
      }
    }

    &__list {
      width: 100%;
    }

    &__list-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    &__left {
      width: 100%;
      padding: 26px 30px 26px 20px;
      background-color: #FFFFFF;

      h4 {
        margin-right: 5px;
        @include book-bold;
        font-size: 25px;
        line-height: 1.2;
      }

      > .tariffs__row {
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 24px;
      }
    }

    &__more {
      height: 100%;
      font-weight: 500;
      display: flex;
      line-height: 1;
      align-items: center;
      color: #0D77E7;
    }

    &__conditions {
      li {
        max-width: 550px;
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 7px;
        }
      }

      svg {
        margin-top: 2px;
        margin-right: 8px;
        align-self: flex-start;
        flex-shrink: 0;
      }

      span {
        padding-right: 4px;
        color: #0D77E7;
        font-size: 17px;
        font-weight: 500;
      }

      p {
        font-size: 17px;
        word-break: break-word;
      }

      a {
        font-size: 17px;
        color: #000000;
        line-height: 1;
        border-bottom: 1px solid #ADB9C7;
        word-break: break-word;
      }
    }

    &__right {
      width: 263px;
      min-height: 245px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      flex-shrink: 0;
      padding: 33px 19px 28px 19px;
      background: no-repeat center url("../img/tariffs-bg.png") #E1EAF5;

    }

    &__prices {
      p {
        b {
          font-weight: 600;
        }

        &:first-child {
          margin-bottom: 5px;
          font-size: 30px;
          font-weight: 500;
        }

        span {
          color: #ADB9C7;
        }

      }

    }
  }
}
