.template-services {
    padding-top: 10px;

    .breadcrumbs {
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .section-title {
        color: #000;
        text-align: center;
        font-size: 38px;
        line-height: 40px;
        @include book-bold;
        margin: 0 auto 25px auto;
        max-width: 485px;
    }

    .section-desc {
        text-align: center;
        max-width: 900px;
        margin: 0 auto 50px auto;
    }


    .services {
        padding-bottom: 47px;
        position: relative;

        @media (max-width: 1280px) {
            padding-top: 0;
        }

        .services-list {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 70px;

            li {
                max-height: 200px;
                display: flex;
                background-color: #ffffff;

                @media (max-width: 1080px) {
                    max-height: max-content;
                }

                @media (max-width: 700px) {
                    flex-direction: column;
                }
            }

            &__image {
                img {
                    width: 350px;
                    height: 100%;

                    @media (max-width: 400px) {
                        height: 100%;
                    }
                }
            }

            &__content {
                flex: 1;
                padding: 30px 65px 35px 40px;
                display: block;
                color: #000000;
                transition: all .3s;
                position: relative;

                @media (max-width: 1080px) {
                    padding: 10px 20px 20px 20px;
                }

            }

            &__row {
                display: flex;
                align-items: center;
            }

            &__title {
                margin-bottom: 12px;
                @include book-bold;
                font-size: 26px;
            }

            &__desc {
                font-size: 15px;
                line-height: 25px;
            }
        }
    }

    .pets_accommodation-rules {
        display: inline-block;
        color: #3188E4;
        padding: 20px 0 10px 0;
    }
}