.template-contacts {
    padding-top: 94px;

    @media (max-width: 900px) {
        padding-top: 30px;
    }

    .section-title {
        margin-bottom: 35px;
        @include book-bold;
        font-size: 38px;
        font-weight: 700;
    }

    .section-desc {
        max-width: 900px;
        margin-bottom: 45px;
    }

    .contacts-list {
        margin-bottom: 70px;
        display: flex;
        gap: 90px;

        @media (max-width: 750px) {
            margin-bottom: 30px;
            flex-direction: column;
            gap: 20px;
        }

        li {
            display: flex;
            gap: 12px;
        }

        &__info {
            padding-top: 5px;

            h6 {
                margin-bottom: 6px;
            }
        }
    }

    .map {
        margin-bottom: 60px;

        iframe {
            min-height: 400px;
        }
    }

    .route-variants {
        margin-bottom: 120px;
        display: flex;
        justify-content: space-between;
        gap: 50px;

        @media (max-width: 900px) {
            margin-bottom: 40px;
        }

        @media (max-width: 670px) {
            flex-direction: column;
        }

        li {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 12px;

            h6 {
                margin-bottom: 14px;
                text-transform: uppercase;
            }
        }

        &__item {
            display: flex;
            gap: 11px;

            p {
                line-height: 1.2;
            }
        }
    }
}