.typical-page {
  background-color: #FFFFFF;

  .main-menu {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  }

  .breadcrumbs {
    margin-bottom: 24px;
    padding-top: 35px;
  }

  .typical {
    > .container {
      padding-bottom: 200px;
      display: flex;
      justify-content: space-between;
    }

    &__content {
      margin-right: 20px;

      > p {
        margin-bottom: 26px;

        b {
          display: block;
          font-weight: 600;
        }
      }
    }

    &__desc {
      text-align: left;
    }

    &__links {
      margin-bottom: 35px;

      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      a {
        width: max-content;
        color: #3188E4;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
      }
    }

    .section__title {
      margin-bottom: 29px;
      text-align: left;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.2;
    }

    aside {
      width: 296px;
      flex-shrink: 0;
    }

    .aside-menu {
      margin-bottom: 25px;
    }

    &__table-wrapper {
      margin-bottom: 50px;

    }

    &__table {
      width: 100%;
      border-collapse: collapse;

      td, th {
        padding: 15px 14px;
        background-color: #F5F5F5;
        text-align: center;
      }

      th {
        font-weight: 500;
        text-align: left;
      }

      thead {
        td {
          border: 4px solid #ffffff;
        }
      }

      tbody {
        th {
          min-width: 264px;
          width: 264px;
        }

        td {
          border-right: 4px solid #ffffff;
          border-left: 4px solid #ffffff;

          &:nth-of-type(1) {
            min-width: 95px;
            width: 95px;
          }

          &:nth-of-type(2) {
            min-width: 100px;
            width: 100px;
          }

          &:nth-of-type(3) {
            min-width: 140px;
            width: 140px;
          }

          &:nth-of-type(4) {
            min-width: 140px;
            width: 140px;
          }

          &:nth-of-type(5) {
            min-width: 165px;
            width: 165px;
          }
        }
      }
    }

    &__inside {
      margin-bottom: 50px;

      p {
        margin-bottom: 10px;
      }

      ul {
        padding-left: 30px;
      }

      li {
        padding-left: 8px;
        list-style: '—';

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    &__images {
      > img {
        display: block;
        width: 100%;
        margin-bottom: 8px;
      }

      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          width: 218px;
          height: 218px;
          border: 1px solid #808994;
          margin-right: 5px;
          margin-bottom: 10px;

          img {
            height: 100%;
          }

        }
      }
    }

    &__images-btn {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        display: block;
        margin-bottom: 12px;
        color: #808994;
        font-weight: 500;
      }
    }

    .slider {
      padding-top: 130px;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      opacity: 0;
      z-index: -1;
      visibility: hidden;
      overflow-y: auto;

      &._active {
        opacity: 1;
        z-index: 10;
        visibility: visible;
      }

      &__wrapper {
        max-width: 1480px;
        margin: 130px auto 0;

      }

      &__btn-close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 190px;
        right: 10%;
      }

      img {
        display: block;
        margin: 0 auto;
        height: 100%;
      }

      .typical-swiper {
        margin-bottom: 20px;

        .swiper-slide {
          outline: 1px solid #515151;
          outline-offset: -1px;
          height: 150px;
          opacity: .5;
          cursor: pointer;

          img {
            object-position: center;
            height: 100%;
            width: 100%;
          }
        }

        .swiper-slide-visible.swiper-slide-thumb-active {
          opacity: 1;
          outline: 4px solid #0D77E7;
          outline-offset: -4px;
        }
      }


      .typical-swiper2 {
        margin-bottom: 50px;

        .swiper-slide {
          height: 600px;
        }

        .swiper-button-next, .swiper-button-prev {
          width: 50px;
          height: 50px;

          &:hover {
            svg {
              path {
                fill: #0D77E7;
              }
            }
          }
        }

        .swiper-button-next:after, .swiper-button-prev:after {
          content: none;
        }
      }
    }
  }
}