@media (max-width: 1200px) {
  .one-room-page .one-room__swiper2 {
    width: 1000px;
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .one-room-page .one-room__swiper2 {
    width: 800px;
    height: 400px;
  }
}

@media (max-width: 900px) {
  .one-room-page .one-room__swiper2 {
    width: 600px;
    height: 300px;
  }
  .one-room-page .one-room__inside {
    flex-direction: column;
  }
  .one-room-page .one-room__item {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .one-room-page .one-room__swiper2 {
    width: 300px;
    height: 150px;
  }
}