<div class="accept-booking-message">
  <div class="container">
    <header>
      <h1 class="message-title">Бронирование №7911339</h1>
      <div class="message-logo">
        <a href="">
          <img src="./img/logo-accept-message.png" alt="Лого">
        </a>
        <p>г. Тамбов, ул. Кавалерийская, д. 18а</p>
        <p>(4752) 71-02-98, 71-42-20</p>
      </div>
    </header>
    <section class="section-block">
      <div class="message-text">
        <h2>Здравствуйте, Иван!</h2>
        <p>Вы не завершили бронирование номера в гостинице «Славянская».</p>
        <p>Внесите предоплату в размере <span>2000 ₽</span>, чтобы номер в гостинице «Славянская» был забронирован за Вами с 06.02.2025 по 08.02.2025. </p>
      </div>
      <div class="message-room-info">
        <div class="message-room-info__desc">
          <p>Номер</p>
          <h2>Студия комфорт с диваном</h2>
          <div class="dates-block">
            <div class="date-block check-in">
              <p>Заезд</p>
              <p class="date">6 февраля 2025</p>
              <p class="time">в 14:00,  четверг</p>
            </div>
            <div class="date-block check-out">
              <p>Выезд</p>
              <p class="date">8 февраля 2025</p>
              <p class="time">в 12:00, суббота</p>
            </div>
          </div>
        </div>
        <img src="./img/message-room-img.jpg" alt="Номер">
      </div>
      <div class="details-booking">
        <h3>Детали бронирования:</h3>
        <div class="details-booking__table">
          <div class="row">
            <p class="title-row">Всего гостей:</p>
            <p>1</p>
          </div>
          <div class="row">
            <p class="title-row">Гость:</p>
            <p>Иван Михайлов</p>
          </div>
          <div class="row">
            <p class="title-row">Категория номера:</p>
            <p>Высокий стандарт</p>
          </div>
          <div class="row">
            <p class="title-row">Тариф проживания:</p>
            <p>Стандарт ++</p>
          </div>
          <div class="row">
            <p class="title-row">Номер:</p>
            <p>223 номер, 2 этаж</p>
          </div>
          <div class="row">
            <p class="title-row">Дополнительные услуги:</p>
            <p>Завтрак «Шведский стол», размещение с домашними животными</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-block bill">
      <div class="bill-table">
        <div class="row">
          <p class="title-row">Общая стоимость:</p>
          <p>20 000 ₽</p>
        </div>
        <div class="row">
          <p class="title-row">Всего оплачено:</p>
          <p>0 ₽</p>
        </div>
      </div>
      <button type="button" class="accept-booking-btn">
        завершить бронирование
      </button>
    </section>
    <footer>
      <p>Если у Вас возникли сложности при бронировании или появились вопросы, пожалуйста, <a href="#">свяжитесь с нами.</a></p>
      <p>С уважением, отдел бронирования гостиницы «Славянская».</p>
    </footer>
  </div>
</div>