<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="index.html" class="footer__top-logo">
        <img src="./img/footer-logo.png" alt="Лого">
      </a>
      <ul>
        <li>
          <a href="#">
            Номера
          </a>
        </li>
        <li>
          <a href="#">
            О гостинице
          </a>
        </li>
        <li>
          <a href="#">
            Забронировать
          </a>
        </li>
        <li>
          <a href="#">
            Гости
          </a>
        </li>
        <li>
          <a href="#">
            Цены
          </a>
        </li>
        <li>
          <a href="#">
            Спецпредложения
          </a>
        </li>
        <li>
          <a href="#">
            Услуги
          </a>
        </li>
        <li>
          <a href="#">
            Это интересно
          </a>
        </li>
        <li>
          <a href="#">
            История Тамбова
          </a>
        </li>
        <li>
          <a href="#">
            Достопримечательности Тамбова
          </a>
        </li>
        <li>
          <a href="#">
            И области
          </a>
        </li>
        <li>
          <a href="#">
            Куда сходить в Тамбове
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">
        <a class="footer__copyright-link" href="#">
          Правовая информация
        </a>
        <p>
          Copyright © 2008-2023 Гостиница «Славянская», <a href="mailto:info@slavianskaia.ru">info@slavianskaia.ru</a>
        </p>
      </div>
      <div class="footer__pay">
        <p>
          Принимаем к оплате
        </p>
        <img src="./img/footer-pay.png" alt="Способы оплаты">
      </div>
    </div>
  </div>
</footer>
